{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="d-flex justify-content-end gap-3 mb-3">
    <button class="btn btn-outline-primary" id="downloadBtn" style="display:none;">
      <i class="bi bi-download me-1"></i> Download
    </button>
  </div>
  <h2 class="mb-4 text-center">SE6MEN7AT0R</h2>
  
  <div class="d-flex align-items-center gap-3 mb-4">
    <button class="btn btn-primary" style="min-width: 100px;" onclick="triggerFilePicker()">Load TSV</button>
    <input type="file" id="tsvFile" accept=".tsv" style="display: none;">
    <select 
      class="form-select" 
      id="userDropdown" 
      onchange="loadEvents()" 
      style="min-width: 200px; display:none;">
    </select>
  </div>
  
  <div id="spinner" class="text-center my-3" style="display: none;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Events Table -->
  <div id="eventsTableDiv" style="display:none;">
    <div class="d-flex justify-content-start gap-3 mb-3">
      <div class="input-group mb-3">
        <button class="btn btn-outline-primary" type="button" onclick="updateRows(true)">Segmentation</button>
        <input type="number" class="form-control" id="segmentIdInput" placeholder="Segment ID" aria-label="" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <button class="btn btn-outline-primary" type="button" onclick="updateRows(false)">Labeling</button>
        <input type="text" class="form-control" id="segmentLabelsInput" placeholder="Struggle, Bored..." aria-label="" aria-describedby="basic-addon1">
      </div>      
    </div>
    <table id="eventsTable" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Index</th>
          <th>Event Name</th>
          <th>Job Name</th>
          <th>Time</th>
          <th>Segment ID</th>
          <th>Segment labels</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script src="/static/js/index.js"></script>
{% endblock %}