{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<link href="/static/css/index.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container py-2">
  <h2 class="text-center">SE6MEN7AT0R</h2>
  <h5 class="text-center" id="labelsValueCount">&nbsp;</h2>
  
  <div id="spinner" class="d-none position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-white bg-opacity-50" style="z-index: 10;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-data-tab" data-bs-toggle="tab" data-bs-target="#nav-data" type="button" role="tab" aria-controls="nav-data" aria-selected="true">DATA</button>
      <button class="nav-link disabled" id="nav-segment-tab" data-bs-toggle="tab" data-bs-target="#nav-segment" type="button" role="tab" aria-controls="nav-segment" aria-selected="true">SEGMENT</button>
      <button class="nav-link disabled" id="nav-label-tab" data-bs-toggle="tab" data-bs-target="#nav-label" type="button" role="tab" aria-controls="nav-label" aria-selected="false">LABEL</button>
      <button class="nav-link disabled" id="nav-train-tab" data-bs-toggle="tab" data-bs-target="#nav-train" type="button" role="tab" aria-controls="nav-train" aria-selected="false">TRAIN</button>
      <button class="nav-link disabled" id="nav-apply-tab" data-bs-toggle="tab" data-bs-target="#nav-apply" type="button" role="tab" aria-controls="nav-apply" aria-selected="false">APPLY</button>
      <button class="nav-link disabled" id="downloadBtn"><i class="bi bi-download me-1"></i> DOWNLOAD</button>
    </div>
  </nav>
  <div id="user_panel" class="d-none d-flex align-items-center gap-3 mb-4 py-2">
    <select class="form-select" id="userDropdown" onchange="userChanged()" style="min-width: 200px; display:none;">
    </select>
  </div>
    
  <div class="tab-content" id="nav-tabContent">
    <!--DATA-->
    <div class="tab-pane fade show active" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
      <div class="card p-3 m-2">
        <div class="row">
          <div class="col-md-4 d-flex flex-column pe-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span class="fw-bold">Datasets</span>
              <div>
                <button class="btn btn-primary" style="min-width: 100px;" onclick="triggerFilePicker()">Load TSV</button>
                <input type="file" id="tsvFile" accept=".tsv" style="display: none;">
              </div>
            </div>            
            <div id="datasetsScroll" class="overflow-auto flex-grow-1 min-vh-0">
              {% for file in uploaded_files %}
                <button class="btn btn-light w-100 text-start mb-2" data-filename="{{ file.fullname }}" onclick="loadExisting('{{ file.fullname }}')">{{ file.formatted }}</button>
              {% endfor %}
            </div>
          </div>
          <div id="datasetInfo" class="col-md-8 d-flex flex-column p-3 border-start d-none">
            <h5 class="mb-3">Dataset Information</h5>
            <div class="list-group-item"><strong>Filename:</strong> <span data-field="filename">lol.tsv</span></div>
            <div class="list-group-item"><strong>Date range:</strong> <span data-field="date-range"></span></div>
            <div class="list-group-item"><strong>Models trained:</strong> <span data-field="models"></span></div>
            <div class="table-responsive mt-2">
              <table class="table table-sm mb-0 rounded border">
                <thead class="table-light">
                  <tr>
                    <th></th>
                    <th>Filtered</th>
                    <th>Original</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>Rows</strong></td>
                    <td data-field="rows-filtered"></td>
                    <td data-field="rows-original"></td>
                  </tr>
                  <tr>
                    <td><strong>Segments</strong></td>
                    <td data-field="segments-filtered"></td>
                    <td data-field="segments-original"></td>
                  </tr>
                  <tr>
                    <td><strong>Users</strong></td>
                    <td data-field="users-filtered"></td>
                    <td data-field="users-original"></td>
                  </tr>
                  <tr>
                    <td><strong>Sessions</strong></td>
                    <td data-field="sessions-filtered"></td>
                    <td data-field="sessions-original"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div class="d-flex my-3 gap-3 align-items-center">
              <h5 class="my-0">Event Filtering</h5>
              <button onclick="filterDataset()" class="btn btn-outline-primary btn-sm">
                <i class="bi bi-floppy"></i>
              </button>
            </div>
            
            <div class="row m-1">
              <div class="col border rounded p-2 d-flex flex-column">
                <h6>Included Events</h6>
                <ul id="includedEvents" class="list-group overflow-auto" style="max-height: 200px;"></ul>
              </div>
              <div class="col border rounded p-2 d-flex flex-column">
                <h6>Excluded Events</h6>
                <ul id="excludedEvents" class="list-group overflow-auto" style="max-height: 200px;"></ul>
              </div>
            </div>

            <div class="d-flex justify-content-center gap-3 my-3">
              <div style="flex:1; max-width:400px;">
                <canvas id="labelDistributionPlot"></canvas>
              </div>
              <div style="flex:1; max-width:400px;">
                <canvas id="segmentedLabeledDistribution"></canvas>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <!--SEGMENT-->
    <div class="tab-pane fade" id="nav-segment" role="tabpanel" aria-labelledby="nav-segment-tab">
      <div class="mb-3 d-flex align-items-end">
        <div class="me-2" style="width: 150px;">
          <label for="segmentIdInput" class="form-label">Segment ID</label>
          <input type="number" value="1" class="form-control" id="segmentIdInput" placeholder="...">
        </div>
        <div class="d-flex align-items-end">
          <button class="btn btn-primary me-2" type="button" onclick="segmentRows()">Apply</button>
        </div>
        <div class="border-start mx-5" style="height: 40px;"></div>
        <div class="me-2" style="width: 600px;">
          <label for="segmentEventTypeDropdown" class="form-label">Cutoff Event Types (apart from using sessions)</label>
          <div>
            <select id="segmentEventTypeDropdown" multiple="multiple" disabled="disabled" class="form-select"></select>
          </div>
        </div>
      
        <div class="d-flex align-items-end">
          <button class="btn btn-success" id="autoSegmentBtn" disabled="disabled" data-bs-toggle="modal" data-bs-target="#confirmSegmentModal" title="Automatically assign segment IDs based on job changes.">
            <i class="bi bi-magic me-1"></i> Autosegment
          </button>
        </div>
      </div>
      
      <table id="segmentTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Index</th>
            <th>Event Name</th>
            <th>Job Name</th>
            <th>Time</th>
            <th>Segment ID</th>
            <th>Segment labels</th>
            <th>Label justif.</th>
            <th>Session ID</th>
            <th>App ID</th>
            <th>Event Data</th>
            <th>Event Source</th>
            <th>App Version</th>
            <th>App Branch</th>
            <th>Log Version</th>
            <th>Offset</th>
            <th>User ID</th>
            <th>User Data</th>
            <th>Game State</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <!--LABEL-->
    <div class="tab-pane fade" id="nav-label" role="tabpanel" aria-labelledby="nav-label-tab">
      <div class="mb-3 row g-3 align-items-end">
    
        <div class="col-md-4">
          <label for="segmentDropdown" class="form-label">Segment ID</label>
          <div class="d-flex align-items-center">
            <button class="btn btn-primary me-1" type="button" onclick="prevOption('#userDropdown')">&lt;&lt;</button>
            <button class="btn btn-primary me-1" type="button" onclick="prevOption('#segmentDropdown')">&lt;</button>
            <select class="form-control flex-grow-1" id="segmentDropdown"></select>
            <button class="btn btn-primary ms-1" type="button" onclick="nextOption('#segmentDropdown')">&gt;</button>
            <button class="btn btn-primary ms-1" type="button" onclick="nextOption('#userDropdown')">&gt;&gt;</button>
          </div>          
        </div>
    
        <div class="col-md-3">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <label for="labelsDropdown" class="form-label mb-0">Labels</label>
            <div class="d-flex gap-1">
              <button id="editLabelsBtn" type="button" class="btn btn-sm btn-secondary" title="Edit labels">
                <i class="bi bi-pencil"></i>
              </button>
              <button id="importLabelsBtn" type="button" class="btn btn-sm btn-primary" title="Import JSON codebook with columns: code, definition">
                <i class="bi bi-upload"></i>
              </button>
            </div>
            <input type="file" id="importLabelsFile" accept=".json" style="display: none;" />
          </div>

          <select id="labelsDropdown" style="width: 100%;" class="form-control" multiple="multiple"></select>
        </div>
    
        <div class="col-md-4">
          <label for="labelJustificationInput" class="form-label">Justification</label>
          <input type="text" class="form-control" id="labelJustificationInput" placeholder="Explain the label(s) choice..." aria-label="Label Justification">
        </div>
    
        <div class="col-md-1">
          <label class="form-label d-block">&nbsp;</label>
          <button class="btn btn-primary w-100" type="button" onclick="labelRows('#labelTable', '#segmentDropdown', '#labelsDropdown', '#labelJustificationInput')">Apply</button>
        </div>
      </div>
      
      <table id="labelTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Index</th>
            <th>Event Name</th>
            <th>Job Name</th>
            <th>Time</th>
            <th>Segment ID</th>
            <th>Segment labels</th>
            <th>Label justif.</th>
            <th>Session ID</th>
            <th>App ID</th>
            <th>Event Data</th>
            <th>Event Source</th>
            <th>App Version</th>
            <th>App Branch</th>
            <th>Log Version</th>
            <th>Offset</th>
            <th>User ID</th>
            <th>User Data</th>
            <th>Game State</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <!--TRAIN-->
    <div class="tab-pane fade" id="nav-train" role="tabpanel" aria-labelledby="nav-train-tab">
      <div class="row mt-3">
        <div class="col-md-6">
          <ul class="nav nav-pills mb-3" id="modelTabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="logistic-tab" data-bs-toggle="pill" data-bs-target="#logistic" type="button" role="tab" aria-controls="logistic" aria-selected="true">
                Logistic Regression
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="random-forest-tab" data-bs-toggle="pill" data-bs-target="#random-forest" type="button" role="tab" aria-controls="random-forest" aria-selected="false">
                Random Forest
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="neural-net-tab" data-bs-toggle="pill" data-bs-target="#neural-net" type="button" role="tab" aria-controls="neural-net" aria-selected="false">
                Neural Network
              </button>
            </li>
          </ul>
          <div class="general-params mb-4">
            <label class="form-label fw-bold mb-3">General Parameters</label>
            <div class="mb-3 d-flex align-items-center">
              <label for="trainTestSplit" class="form-label me-3 mb-0" style="white-space: nowrap;">
                Ratio of training to test data: <span id="trainTestSplitValue">80%</span>
              </label>
              <input type="range" oninput="updateLabelFromValue()" onchange="updateLabelFromValue()" class="form-range flex-grow-1" min="0.1" max="0.9" step="0.05" value="0.8" id="trainTestSplit" style="max-width: 300px;">
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input me-2" checked="true" type="checkbox" id="balanceClassesCheckbox">
              <label class="form-check-label fs-6" for="balanceClassesCheckbox">
                Use Class Weights (for imbalanced data)
              </label>
            </div>
          </div>
          <div class="tab-content" id="modelTabsContent">
            <div class="tab-pane fade show active" id="logistic" role="tabpanel" aria-labelledby="logistic-tab">
              <div class="model-params">
                <label class="form-label fw-bold mb-3">Logistic Regression Parameters</label>
            
                <div class="mb-2 row">
                  <label for="logisticLambda" class="col-sm-4 col-form-label">Regularization (λ)</label>
                  <div class="col-sm-8">
                    <input type="number" min="0" id="logisticLambda" value="1" class="form-control">
                  </div>
                </div>
            
                <div class="mb-2 row">
                  <label for="logisticPenalty" class="col-sm-4 col-form-label">Penalty</label>
                  <div class="col-sm-8">
                    <select id="logisticPenalty" style="width: 100%" class="form-select">
                      <option value="l1">L1 Penalty</option>
                      <option value="l2">L2 Penalty</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="tab-pane fade" id="random-forest" role="tabpanel" aria-labelledby="random-forest-tab">
              <div class="model-params">
                <label class="form-label fw-bold mb-3">Random Forest Parameters</label>
            
                <div class="mb-2 row">
                  <label for="rfEstimators" class="col-sm-4 col-form-label">Num. of Estimators</label>
                  <div class="col-sm-8">
                    <input type="number" min="1" value="100" id="rfEstimators" class="form-control">
                  </div>
                </div>
            
                <div class="mb-2 row">
                  <label for="rfMaxDepth" class="col-sm-4 col-form-label">Max Depth</label>
                  <div class="col-sm-8">
                    <input type="number" min="1" value="3" id="rfMaxDepth" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="tab-pane fade" id="neural-net" role="tabpanel" aria-labelledby="neural-net-tab">
              <div class="model-params">
                <label class="form-label fw-bold mb-3">Neural Net Parameters</label>
            
                <div class="mb-2 row">
                  <label for="nnEpochs" class="col-sm-4 col-form-label">Epochs</label>
                  <div class="col-sm-8">
                    <input type="number" min="1" value="10" id="nnEpochs" class="form-control">
                  </div>
                </div>
            
                <div class="mb-2 row">
                  <label for="nnLearningRate" class="col-sm-4 col-form-label">Learning Rate</label>
                  <div class="col-sm-8">
                    <input type="number" step="0.01" min="0.01" value="0.01" id="nnLearningRate" class="form-control">
                  </div>
                </div>
            
                <div class="mb-2 row">
                  <label for="nnLayers" class="col-sm-4 col-form-label">Num. of Hidden Layers (ReLU)</label>
                  <div class="col-sm-8">
                    <input type="number" min="0" value="2" id="nnLayers" oninput="createUnitPerLayerInputs()" class="form-control">
                  </div>
                </div>
            
                <div class="mt-3" id="nnUnitsPerLayerContainer"></div>
              </div>
            </div> 
          </div>
          <div>
            <label for="trainLabelsDropdown" class="form-label fw-bold">Labels to Include</label>
          </div>
          <div class="mb-3">
            <select id="trainLabelsDropdown" style="width: 100%;" class="form-control" multiple="multiple"></select>
          </div>
          <div class="mb-3">
            <label class="form-label fw-bold">Features (Selected: <span id="numSelFeatures">0</span>)</label>
            <input type="text" id="featureSearch" class="form-control mb-2" placeholder="Search features...">
            <div id="featureSelector" class="border rounded p-2" style="height: 400px; overflow-y: auto;"></div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="d-flex gap-3 mb-3">
            <button class="btn btn-success" id="trainModelBtn" onclick="trainModel()" style="display:none;">
              <i class="bi bi-cpu me-1"></i> Train
            </button>
            <button class="btn btn-secondary" id="enableTrainBtn" onclick="enableTrain()" style="display:none;">
              Train another model
            </button>
            <button class="btn btn-primary" id="applyTrain" style="display:none;">
              Apply
            </button>
            <button class="btn btn-primary" id="applyBest" style="display:none;">
              Apply Best
            </button>
            <a href="#viewTabs" class="btn btn-primary ms-auto">
              Model History
            </a>
          </div>
          <div class="card">
            <div class="card-header bg-light fw-bold">Model Summary</div>
            <div class="card-body">
              <pre id="modelSummary" class="bg-light p-3 rounded small mb-0" style="white-space:pre-wrap;"></pre>
            </div>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs" id="viewTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="bar-tab" data-bs-toggle="tab" data-bs-target="#bar-view" type="button" role="tab">
            Bar View
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="table-tab" data-bs-toggle="tab" data-bs-target="#table-view" type="button" role="tab">
            Table View
          </button>
        </li>
      </ul>
      <div style="height: 90vh; display: flex; flex-direction: column;">

        <div class="tab-content mt-3 flex-grow-1 overflow-hidden" id="viewTabsContent">
          <div class="tab-pane fade show active h-100" id="bar-view" role="tabpanel">
            <div class="card p-3 h-100">
              <div class="row h-100">
                <div class="col-md-4 border-end d-flex flex-column pe-3 h-100">
                  <div class="fw-bold mb-2">Models</div>
                  <div id="modelScroll" class="overflow-auto flex-grow-1 min-vh-0">
                  </div>
                </div>
                <div class="col-md-8 d-flex flex-column">
                  <select id="labelForMetrics" onchange="toggleBarsForLabel()" class="filter-dropdown">
                    <option value="all">All Labels</option>
                  </select>
                  <div>
                    <div id="chartScrollWrapper" class="overflow-auto">
                      <div id="chartCanvasWrapper">
                        <canvas id="modelsBarChart" style="min-height: 500px;max-height: 500px"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="tab-pane fade h-100" id="table-view" role="tabpanel">
            <div class="card p-3 h-100 overflow-auto">
              <table id="modelMetricsTable" class="table table-bordered table-striped mb-0">
                <thead>
                  <tr>
                    <th>Model</th>
                    <th>Timestamp</th>
                    <th>Test Accuracy</th>
                    <th>Test F1</th>
                    <th>Train Accuracy</th>
                    <th>Train F1</th>
                    <th>Feature count</th>
                    <th>Time taken (s)</th>
                  </tr>
                </thead>
                <tbody id="modelTableBody">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>      

    </div>
    <!--APPLY-->
    <div class="tab-pane fade" id="nav-apply" role="tabpanel" aria-labelledby="nav-apply-tab">
      <div class="mb-3 row g-3 align-items-end">
    
        <div class="col-md-4">
          <label for="segmentDropdown_apply" class="form-label">Segment ID</label>
          <div class="d-flex align-items-center">
            <button class="btn btn-primary me-1" type="button" onclick="prevOption('#userDropdown')">&lt;&lt;</button>
            <button class="btn btn-primary me-1" type="button" onclick="prevOption('#segmentDropdown_apply')">&lt;</button>
            <select class="form-control flex-grow-1 me-1" id="segmentDropdown_apply"></select>
            <button class="btn btn-primary ms-1" type="button" onclick="nextOption('#segmentDropdown_apply')">&gt;</button>
            <button class="btn btn-primary ms-1" type="button" onclick="nextOption('#userDropdown')">&gt;&gt;</button>
          </div>          
        </div>
    
        <div class="col-md-3">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <label for="labelsDropdown_apply" class="form-label mb-0">Predicted Label</label>
          </div>

          <select id="labelsDropdown_apply" style="width: 100%;" class="form-control" multiple="multiple"></select>
        </div>
    
        <div class="col-md-1">
          <label for="confidence" class="form-label">Confidence</label>
          <input type="text" class="form-control" id="confidence" disabled placeholder="..." aria-label="">
        </div>
        <div class="col-md-1">
          <div id="accept-count" class="text-muted mb-1">Accepts: 0</div>
          <button class="btn btn-success w-100" type="button" onclick="acceptLabel()">Apply</button>
        </div>
        <div class="col-md-1">
          <div id="reject-count" class="text-muted mb-1">Rejects: 0</div>
          <button class="btn btn-danger w-100" onclick="rejectLabel()" type="button">Reject</button>
        </div>
      </div>
      
      <table id="applyTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Index</th>
            <th>Event Name</th>
            <th>Job Name</th>
            <th>Time</th>
            <th>Segment ID</th>
            <th>Segment labels</th>
            <th>Label justif.</th>
            <th>Session ID</th>
            <th>App ID</th>
            <th>Event Data</th>
            <th>Event Source</th>
            <th>App Version</th>
            <th>App Branch</th>
            <th>Log Version</th>
            <th>Offset</th>
            <th>User ID</th>
            <th>User Data</th>
            <th>Game State</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

  </div>
</div>

<!-- AUTO SEGMENT MODAL -->
<div class="modal fade" id="confirmSegmentModal" tabindex="-1" aria-labelledby="confirmSegmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmSegmentModalLabel">Confirm Auto Segmentation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This will overwrite the existing <code>segment_id</code> column and clear the <code>segment_labes</code> column for <strong>ALL USERS</strong>. Are you sure you want to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="autoSegment()">Yes, Continue</button>
      </div>
    </div>
  </div>
</div>

<!-- LABELS DESCRIPTION MODAL -->

<div class="modal fade" id="editLabelsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Label Descriptions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="labelsEditForm"></div>
      <div class="modal-footer">
        <button type="button" id="saveLabels" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/dataset.js"></script>
<script src="/static/js/segment.js"></script>
<script src="/static/js/index.js"></script>
<script src="/static/js/label.js"></script>
<script src="/static/js/train.js"></script>
<script src="/static/js/apply.js"></script>
{% endblock %}