






/* SELECT 2 CUSTOMIZATION */
.select2-container .select2-selection--single {
    height: 40px;
    display: flex;
    align-items: center;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

/* DATATABLE CUSTOMIZATION */
.dt-button-collection {
    max-height: 300px;
    overflow-y: auto !important;
}

.select2-container {
  min-width: 0;     /* allow shrink instead of overflow */
}
@media (max-width: 767.98px) {
    .shrink-h-20 {
        max-height: 20%;
        overflow: auto;
    }
    .shrink-h-80 {
        max-height: 80%;
        overflow: auto; /* ensure content scrolls if it’s taller */
    }
}

#numSelEvts {
    display: inline-block;
    min-width: 3ch;
    text-align: right;
}
  